<script>
  import {onMount} from "svelte";
  import { scaleLinear, scaleBand, scaleLog } from 'd3-scale';

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

   //Loading the data
  let datapoints = null;
  let data_heating = {};
  let data_cooling = {};
  let cities = [];
    
  onMount(async () => {
    datapoints = await 
      fetch("https://m0120027-datavis-exercises.vercel.app/data/daily_heating_cooling.json")
        .then(datapoints => datapoints.json())
        
        cities = [...new Set(datapoints.map(d => d.city))];
       
    {
      datapoints.forEach((d)=> {
        if (!(d.city in data_heating)){
            data_heating[d.city]=[]
        }
        data_heating[d.city].push(d.heating);
        })
    }

    {
      datapoints.forEach((d)=> {
        if (!(d.city in data_cooling)){
            data_cooling[d.city]=[]
        }
        data_cooling[d.city].push(d.cooling);
        })
    }

  });
 
  // Use scale to distribute types evenly over canvas height
  let xcity = scaleBand().domain(["Baltimore","Los Angeles","Chicago"]).range([0, innerWidth]);
  let radiusLength = scaleLog().domain([2000,200000]).range([1,75])
  
  let circularPath = (d) =>{
    let path = "M " + (innerWidth/6-10) + "," + (innerHeight/2);
    d.forEach((value,idx) =>{
      path += " " + (innerWidth/6-10+xcoord(idx)*radiusLength(value)) + "," + (innerHeight/2+ycoord(idx)*radiusLength(value))
    })
    return path;  
  }
 
  // from linear scale to radial coordinates
  function ycoord(y){
     return -Math.cos(y*Math.PI/365*2);
  }
  function xcoord(x){
     return Math.sin(x*Math.PI/365*2);
  }
  
</script>

{#if !datapoints}
  <p>Thank you for choosing Dimitri's visualization. Data is being loaded... </p>
{:else}

<svg {width} {height}>
  <g transform="translate({margin.left*2}, {margin.top})">
    <text transform="translate(10, {innerHeight})" style:font-weight="bold">
        Heating - Cooling
    </text>
    <rect x=-10 y={innerHeight-11} width=12 height=12 class="heat"/>
    <rect x=150 y={innerHeight-11} width=12 height=12 class="cool"/>
      {#each cities as location}
      <g transform="translate({xcity(location)},{margin.top})">
        <text font-family="Times, serif" font-size="20px">{location}:</text>
        <circle cx={innerWidth/6-10} cy={innerHeight/2} r=75 />
        <rect x=6 y={innerHeight/2} width=160 height=1 />
        <rect x=86 y=35 width=1 height=160 />
        {#each data_cooling[location] as value, idx}
          <circle class="cool" cx={innerWidth/6-10+xcoord(idx)*radiusLength(value)} cy={innerHeight/2+ycoord(idx)*radiusLength(value)} r=1/>
        {/each}
        <path class="heat" d={circularPath(data_heating[location])} />
        {#each data_heating[location] as value, idx}
          <circle class="heat" cx={innerWidth/6-10+xcoord(idx)*radiusLength(value)} cy={innerHeight/2+ycoord(idx)*radiusLength(value)} r=1/> 
        {/each}
        <path class="cool" d={circularPath(data_cooling[location])} />
      </g>
      {/each}
  </g>
</svg>

{/if}
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  circle {
    stroke: black;
    fill: none;
  }
  
  .cool {
    stroke: blue;
    fill: blue;
    fill-opacity: 0.25;
  }

  .heat {
    stroke: red;
    fill: red;
    fill-opacity: 0.25;
  }

  path{
    stroke: none;
    fill: black;
    fill-opacity: 0.4;
  }
</style>
