<script>
  let clicked = false;
</script>

<div class ="container">
  <div class="row">
    <button class="btn btn-primary col-4 offset-4" on:click={() => (clicked = true)}>
    click here
    </button>
  </div>

  <div class="row">
    <div class="col text-center">
    {#if clicked == false}
      <p>"Don't click the button..."</p> 
    {:else}
      <p>"You have clicked the button!"</p>
    {/if}
    </div>
  </div>
</div>