<style>
    p {
      color: steelblue;
      font-size: large;
      font-weight: bold;
      font-family:'Courier New', Courier, monospace;
    }
  </style>

<p>I <span style="color: violet">really</span> like data visualisation!</p>

<p>I <span style='color: green'>really</span> like data visualisation!</p>
