<script>
    const firstname = 'Dimitri';
    const lastname = "Soccol";
    const fav1 = "Raindrops on roses";
    const fav2 ="and whiskers on kittens";
    const fav3 = "Bright copper kettles";
    const fav4 ="and warm woolen mittens";
    const fav5 ="(My favourite things by Julie Andrews)";
    const favList = { firstname, lastname, fav1, fav2, fav3, fav4, fav5};
</script>

<p>My name is {favList.firstname} {favList.lastname} and these are a few of my favourite things:</p>
<ul>
    <li>{favList.fav1}</li>
    <li>{favList.fav2}</li>
    <li>{favList.fav3}</li>
    <li>{favList.fav4}</li>
    <li>{favList.fav5}</li>
</ul>
