<script>
 function circum(radius){
     return Math.round(2*Math.PI*radius*100)/100;
 }

 const rad = 5;
 const circumf = circum(rad);
</script>

<div class = "container">
    <div class="row"><p>The circumference of a circle with radius {rad} m is {circumf} m.</p></div>
    <div class="row"><p>The circumference of a circle with radius {rad} m is {circum(rad)} m.</p></div>
</div>
