<script>
    import EX_2 from "./ex_2.svelte";
    import EX_3 from "./ex_3.svelte";
</script>

<div class = "container">
    <div class="row text-center"><EX_3/></div>
    <div class="row"><EX_2/></div>
</div>
