<script>

  // Properties
  export let data = []; 
  export let continent = 0;
  export let year = 0;
  
  let year_value = 0;
  // let continent = "europe"
	const continents = ["europe", "asia", "americas", "africa"];
  
  $: year = 1800 + year_value
	$: continent
  $: data = data.filter(d => d.year == year && d.continent == continent);
  
  setInterval(() => {
    year_value += 1
    if (year_value > 214) {year_value = 0}
  }, 1000);

</script>

<div class="row">
  Selected year:
	{#if year_value !== null }
		{year}
	{/if}

  <input type="range" min="0" max="214" bind:value={year_value} />

  Selected continent: 

  <select bind:value={continent} >
  	{#each continents as item}
		  <option continent={item}>{item}</option> 
	  {/each}
  </select>
  
</div>
