<script>
    let clicked = false;
    let current = "";
    let count =0;

    function handleClick(event) {
		count += 1;
        return count;
	}

    function resetClick(event) {
		count = 0;
	}
</script>

<style>
	.backg {
		background-color: pink;
        color: green;
        font-weight: bold;
	} 
</style>

<button class="btn btn-success"  class:backg={current=="counter"} on:click={handleClick}>
    Counter clicked: {count}
</button>

<button class="btn btn-danger"  class:backg={current=="reset"} on:click={resetClick}>
    Reset
</button>