<script>
  import { onMount } from "svelte";
 
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;
       
  let tick = index + 1
  onMount(async () => {
    setInterval(() => {
      tick -= 1
      if(tick < 0) {tick = index + 1}
    }, 1000)
  });
  // $: console.log(tick)
  
  // Color
  let color1 = "darkred";
  let color2 = "darkgreen";

</script>

<style>
  circle {
    opacity: 0.3;
    fill: darkred;
  }

  circle.on {
    opacity: 1.0;
    fill: red;
  }

  circle.green {
    opacity: 1.0;
    fill: darkgreen;
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
     {#each points as value, index}
      <circle cx={value}
              cy=45
              r=10 
              class:on = {tick < index + 2 }
              class:green = {tick == 0 }              
      />
     {/each}
  </g>
</svg>