<script>
  //Importing function
  import { scaleLinear, scaleLog, scaleOrdinal } from 'd3-scale';
  import { select } from 'd3-selection';
  import { axisBottom, axisLeft } from 'd3-axis';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //exporting the data
  export let data = null;

  //Scaling data
  const xscale = scaleLinear() .domain([0,10000]) .range([margin.left, innerWidth]);
  const yscale = scaleLinear() .domain([0,40]).range([innerHeight+margin.top, margin.bottom]);
  const circrad = scaleLog() .domain([100,1000000000]).range([0,10]);
  const colorscale = scaleOrdinal() .domain(["europe","asia","americas","africa"])
  .range(["green","yellow","red","black"]);

  //function axes
  function plotxAxis(x) {axisBottom(xscale)(select(x));}
  function plotyAxis(y) {axisLeft(yscale)(select(y));}
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as value}
   <circle cx={xscale(value.income)}
           cy={yscale(value.life_exp)}
           r={circrad(value.population)}
           style={"fill:" + colorscale(value.continent)}/>
    {/each}
  <text x={width/2} y={innerHeight+margin.top/2} > Income </text>
  <text transform={`translate(${-margin.left*3/4},${innerHeight /2+margin.bottom}) rotate(-90)`}> 
    Life Expectancy </text>
  </g>

  <g transform="translate(0,{margin.top/2+innerHeight})" use:plotxAxis></g>
  <g transform="translate({margin.left},{-margin.bottom/2})" use:plotyAxis></g>
</svg>

