<script>
  //Import
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { matcher, select } from 'd3-selection';
  import { axisBottom, axisLeft } from 'd3-axis';
  
  // Dimensions
  const width = 800;
  const height = 200;
  const margin = { top: 30, right: 30, bottom: 30, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
 
  //Scales
  //const rescale = function(x, domain_min, domain_max, range_min, range_max) {
  //    return ((range_max - range_min)*(x-domain_min))/(domain_max-domain_min) + range_min}

  const xscale = scaleLinear() .domain([0, 10]) .range([margin.left, innerWidth+margin.left]);
  const yscale = scaleLinear() .domain([0, 4]) .range([innerHeight+margin.bottom, margin.bottom]);
  const colorscale = scaleOrdinal() .domain(["cat1","cat2","cat3"])
  .range(["red","yellow","green"]);
 

  //function axes
 function plotxAxis(x){axisBottom(xscale)(select(x));}
 function plotyAxis(y) {axisLeft(yscale)(select(y));}
 
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate(0,{-margin.bottom/2})">
    {#each values as value}
   <circle cx={xscale(value.x)}
           cy={yscale(value.y)}
           r=10 
           style={"fill:" + colorscale(value.category)}/>
  <text x={xscale(value.x)} y={yscale(value.y)-15}> {value.y} </text>
  {/each}
  <text x={width/2} y={height} > x-axis </text>
  </g>

  <g transform="translate(0,{margin.top/2+innerHeight})" use:plotxAxis></g>
  <g transform="translate({margin.left},{-margin.bottom/2})" use:plotyAxis></g>

</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
    color: skyblue;
  }
</style>
