<script>
   //Import
  import { scaleLinear, scaleBand } from 'd3-scale';
  import { matcher, select } from 'd3-selection';
  import { axisBottom, axisLeft } from 'd3-axis';
  
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  //From Svelte tutorial example:
  
  const xscale = scaleLinear() .domain([0, 6]) .range([margin.left, innerWidth+margin.left]);
  const xalt = scaleBand() .domain(["Netflix","Amazon Prime Video","Disney+","Hulu", "Apple TV","Rakuten"]) 
  .range([margin.left, innerWidth+margin.left]);
  const yscale = scaleLinear() .domain([0,3]).range([innerHeight+margin.top, margin.bottom]);
  const yheight = scaleLinear() .domain([0,3]).range([margin.bottom,innerHeight+margin.top]);

  //function axes
 function plotxAxis(x){axisBottom(xscale)(select(x));}
 function plotxalt(x){axisBottom(xalt)(select(x));}
 function plotyAxis(y) {axisLeft(yscale)(select(y));}
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left/2},${margin.top})`}>
    {#each data as data}
    <rect x={xalt(data.service)}
          y={yscale(data.viewers)-margin.bottom/2}
          width=30 
          height={yheight(data.viewers)-margin.bottom}
          style={"fill:skyblue"}/>
    {/each}
    <text transform={`translate(${0},${innerHeight /2+margin.bottom}) rotate(-90)`}> 
      viewers </text>
  </g>

  <g transform="translate(0,{margin.top/2+innerHeight})" use:plotxalt></g>
  <g transform="translate({margin.left},{-margin.top/2})" use:plotyAxis></g>

</svg>
