<script>
    //importing data points
    let datapoints = [];
 
    //importing scatter plot
    import {onMount} from "svelte";
    import ScatterPlot from "./_ex_7_scatterplot.svelte";

    //onMount command from instructions
    //importing datapoints
     onMount(async () => {
        const res = await 
            fetch("https://m0120027-datavis-exercises.vercel.app/data/gapminder.json")
            .then(res => res.json())

        // console.log(res);
        let year1800 = res.find(d => d.year == "1800");
        datapoints = year1800.countries.filter(d => {
            return d.income != null && d.life_exp != null 
        });
        // console.log(datapoints)
     });

    const test = [
    { income: 10000, life_exp: 30, population: 100000, continent: "asia"},
    { income: 8000, life_exp: 50, population: 10000, continent: "africa"},
    { income: 6000, life_exp: 70, population: 1000, continent: "americas"},
     ];

</script>

<ScatterPlot data={datapoints}></ScatterPlot>

